<!-- Страница популярных вопросов -->

{% extends "base.html" %}

{% block title %}
    {{ block.super }} Популярные вопросы
{% endblock %}

{% block content %}
    <h3>
	Популярные вопросы
    </h3>
    Страницы:&nbsp;&nbsp;
    {% for page_num in paginator.page_range %}
	<a href="{{ paginator.baseurl }}{{ page_num }}">
	    {{ page_num }}
        </a>
	&nbsp;&nbsp;
    {% endfor %}
    <br><br>
    <div>

    {% for quest in page_object %}
	{{ quest.title }}: {{ quest.text }} -> rating: {{ quest.rating }}
	<br>
    {% endfor %}    
    </div>
{% endblock %}

