<!-- Страница с пагинацией -->

{% extends "base.html" %}

{% block title %}
    {{ block.super }} Страница с пагинацией.
{% endblock %}

{% block content %}
    {% for page_num in paginator.page_range %}
	<a href="{{ paginator.baseurl }}{{ page_num }}">
	    Страница: {{ page_num }}
        </a>
	&nbsp;&nbsp;
    {% endfor %}
    <p>
    {{ page_object.jbject_list }}

    {% for quest in page_object %}
	{{ quest.title }}
	<br>
    {% endfor %}    
    </p>
{% endblock %}

<!--page_object, questions -->

