<!-- Страница формы логина пользователя -->

{% extends "base.html" %}

{% block title %}
    {{ block.super }} Страница формы логина пользователя.
{% endblock %}

{% block content %}
    <h3>
	Страница формы логина пользователя.
    </h3>
    {%  for e in form.non_field_errors %}
	<div>
	    {{ e }}
	</div>
    {%  endfor %}
    
    {% if form.errors %}
    <p><font color="red">Неправильно введены логин или пароль.</font></p>
    {% endif %}
    
    <form method="post" action="/login/">
	{% csrf_token %}
	<fieldset>
	    <legend>Форма логина пользователя</legend>
	    {% for field in form %}
		<div>
		    <label>{{ field.label }}</label>
		    <div>
			{{ field }} <font color="red">{{ field.errors }}</font>
		    </div>
		    <br>
		</div>
	    {% endfor %}
	</fieldset>
	<br>
	<div>
           <button type="submit"> Сохранить </button>
        </div>
    </form>
{% endblock %}

